body
	{
	background: #01271e;
	}

#header
	{
	width:1024px;
	height:150px;
	margin: 20px auto;
	border: 12px solid #007046;
	background: url(../img/header.png) no-repeat;
	}
	
#main
	{
	width:1024px;
	height:640px;
	margin:0 auto;
	background: #228B22;	
	border: 12px solid #007046;
	}
#fence
	{
	width:800px;
	height:600px;
	margin:18px auto;
	border: 3px dotted green;
	background-color: #000;		
	}

#snake-head {
	
}