body
	{
	 background: #01271e; 
	}

#header
	{
	width:1024px;
	height:150px;
	margin: 20px auto;
	border: 12px solid #007046;
	background: url(../img/header.png) no-repeat;
	}
	
#main
	{
	position:relative;
	width:1024px;
	height:640px;
	margin:0 auto;
	/* background: #228B22; */
	/* border: 12px solid #007046; */
	}
#fence
	{
    position:absolute;
    top:0;
    left:0;
	width:800px;
	height:600px;
	border: 3px dotted green;
	background-color: #000;		
	}



#sco {
	position:absolute;
    top:0;
    right:0;
    width:160px;
    height:36px;
	border: 3px dotted green;
	color: yellow; font-size: 30px; padding: 5px 10px;
	background-color: #000;	    
}

#lvl {
	position:absolute;
    top:80px;
    right:0;
    width:160px;
    height:36px;
	border: 3px dotted green;
	color: yellow; font-size: 30px; padding: 5px 10px;
	background-color: #000;	    
}

/* Game */

.snake-head {
    position:relative;
    float:left;
    width:20px;
    height:20px;
    background: url(../img/snake-head.png) no-repeat;
}

.snake-body {
    position:relative;
    float:left;
    width:20px;
    height:20px;
    background: url(../img/snake-body.png) no-repeat;
}

.food {
    position:relative;
    float:left;
    width:20px;
    height:20px;
    background: url(../img/food.png) no-repeat;
}

.tile {
    position:relative;
    float:left;
    width:18px;
    height:18px;
    border:1px solid #002200;	
}

.yellow { background-color: yellow; }
.grey { background-color: lightgrey; }