body
	{
	/* background: #01271e; */
	}

#header
	{
	width:1024px;
	height:150px;
	margin: 20px auto;
	/* border: 12px solid #007046; */
	/* background: url(../img/header.png) no-repeat; */
	}
	
#main
	{
	width:1024px;
	height:640px;
	margin:0 auto;
	/* background: #228B22; */
	/* border: 12px solid #007046; */
	}
#fence
	{
    position:relative;
	width:800px;
	height:600px;
	margin:18px auto;
	/* border: 3px dotted green; */
	background-color: #000;		
	}

.snake-head {
    position:relative;
    float:left;
    width:20px;
    height:20px;
    background: url(../img/snake-head.png) no-repeat;
}

.snake-body {
    position:relative;
    float:left;
    width:20px;
    height:20px;
    background: url(../img/snake-body.png) no-repeat;
}

.food {
    position:relative;
    float:left;
    width:20px;
    height:20px;
    background: url(../img/food.png) no-repeat;
}

.tile {
    position:relative;
    float:left;
    width:18px;
    height:18px;
    border:1px solid green;	
}

.yellow { background-color: yellow; }
.grey { background-color: lightgrey; }